{% extends 'main/base.html' %}

{% block title %}О сайте{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-5">
            <h1 class="text-center mb-4">О сайте</h1>
            <p class="lead">Сайт посвящен ознакомлению с базовыми принципами работы
            с фреймворком Django и основными этапами разработки и развертывания
            веб-приложения.</p>
            <p class="lead">Разработан студентом 4 курса группы ИВТ Семеновым
            Леонидом.</p>
        </div>
    </div>
</div>
{% endblock %}