{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block main %}
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Вход</h2>

    <form class="login-container" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p><label for="{{ field.id_for_label }}">{{ field.label }}: </label>{{ field }}</p>
        <div>{{ field.errors }}</div>
        {% endfor %}
        <p><input type="submit" value="Войти"></p>
    </form>
</div>
{% endblock %}
